<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c)
  ~   * Maksym Furkalo,
  ~   * work with DB using the DAO pattern,
  ~   * use for free
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="global.properties"/>
    <typeAliases>
        <typeAlias alias="User" type="DAO.models.User"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="DAO.mybatis.IntToBoolTypeHandler"/>
    </typeHandlers>
    <environments default="working">
        <environment id="working">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${sqlDriver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
                <property name="poolMaximumActiveConnections" value="5"/>
                <property name="poolMaximumIdleConnections" value="1"/>
                <property name="poolTimeToWait" value="3000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="DAO.mybatis.mapper.ItemCategoryMapper"/>
        <mapper class="DAO.mybatis.mapper.IUserGroupMapper"/>
<!--        <mapper class="DAO.mybatis.mapper.IUserMapper"/>-->
        <mapper resource="mybatis/mappers/userMapper.xml"/>
    </mappers>
</configuration>
